<a href="{{url}}" class="vidcard">
    <span class="thumb">
        <img class="thumb__image" src="{{imageUrl}}" width="236" alt="">
        <i class="i"></i>
    </span>
    <i class="i ii"></i>
    <strong class="vidcard-caption">{{{caption}}}</strong>
</a>